.pull-right
  %a.btn.btn-success.btn-small{:href=>new_vendor_inventory_item_path(@vendor)}
    %i.icon.icon-plus.icon-white
    Inventory Item
%table.table.table-striped
  %thead
    %tr
      %th Name (Vendor)
      %th Name (Public)
      %th Type
      %th Description
      %th COGS
      %th Perks Price
      %th Retail Price
      %th Product Types
      %th 
  %tbody
    - @vendor.inventory_items.each do |inventory_item|
      %tr{"data-record-id"=>inventory_item.id}
        %td= link_to inventory_item.name_vendor, edit_vendor_inventory_item_path(@vendor, inventory_item)
        %td= link_to inventory_item.name_public, edit_vendor_inventory_item_path(@vendor, inventory_item)
        %td= inventory_item.meal_type.titleize
        %td 
          #{inventory_item.description}
          %br
          %i Sku: #{inventory_item.sku}
        %td= number_to_currency inventory_item.cogs
        %td= number_to_currency inventory_item.perks_price
        %td= number_to_currency inventory_item.retail_price
        %td= inventory_item.inventory_item_product_types.nil? ? "" : inventory_item.inventory_item_product_types.map { |item| item.product_type.titleize }.join(", ")
        %td
          .btn-group
            -if inventory_item.can_destroy?
              %a.btn.btn-mini.btn-danger{:href=>vendor_inventory_item_path(@vendor, inventory_item), :"data-method" => "delete", data: { confirm: 'Are you sure?' }}
                %i.icon.icon-white.icon-remove
            -else
              %a.btn.btn-mini.disabled
                %i.icon.icon-remove.icon-white

